@import '../../styles/common.scss';

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
 
#nav {
  padding: 30px;
  
  a {
    font-weight: bold;
    color: #2c3e50;
  
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
