@import '../../../styles/common.scss';

.header-block {
  background-image: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) ), url('../../../assets/movies-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
