@import '../../styles/common.scss';

.search-form {
  &__title {
    padding: 15px 0;
    text-transform: uppercase;
  }

  &__submit-button {
    text-transform: uppercase;
  }

  &__options {
    padding: 15px 0;
  }
}
