@import '../../styles/common.scss';

.search-form {
  background-color: $dark-graphite;
  padding: 70px 100px;

  background-image: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) ), url('../../assets/movies-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__title {
    padding: 15px 0;
    text-transform: uppercase;
  }

  &__submit-button {
    text-transform: uppercase;
  }

  &__options {
    padding: 15px 0;
  }
}